$colorPrim1: #035ade;
$colorPrim2: #013d98;
$colorSec1: #e7eaef;
$colorSec2: #9b9b9b;
$colorSec3: #747f8e;

$colorText1: #ffffff;
$colorText2: #000000;
$colorText3: #035ade;

$containerSize: 960px;

* {
  font-family: "Lora", serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: $containerSize;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin separador {
  content: "";
  width: 114px;
  background: $colorText2;
  height: 2px;
  display: block;
  margin: 10px auto;
}

.header {
  background: $colorPrim1;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;

  h1 {
    color: $colorText1;
    font-size: 2em;
    text-shadow: 2px 2px 1px $colorPrim2;
  }
  a {
    display: inline-block;
    color: $colorText1;
    font-size: 1.25em;
    border: 2px solid;
    padding: 5px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 0px $colorPrim2;
    text-shadow: 2px 2px 1px $colorPrim2;

    &:hover {
      opacity: 0.9;
    }
    &:active {
      background: $colorPrim2;
    }
  }

  @media screen and (max-width: 767px) {
    nav {
      margin-top: 20px;
    }
  }
}

.introducao {
  background: $colorSec1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 30px 0;

  p {
    color: $colorText2;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 3px $colorSec2;

    &::before {
      @include separador();
      box-shadow: 2px 2px 1px $colorSec2;
    }
    &::after {
      @include separador();
      box-shadow: 2px 2px 1px $colorSec2;
    }
  }
  @media screen and (max-width: 767px) {
    p {
      font-size: 1.25em;
    }
  }
}

.palavras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid $colorSec1;

  h2 {
    color: $colorText3;
    font-size: 1.5em;
    font-weight: bold;
  }
  textarea {
    display: block;
    max-width: 546px;
    margin: 20px 0;
    padding: 10px;
    font-size: 1.125em;
    color: $colorText3;
    border: 2px solid;
    border-radius: 5px;
    &::placeholder {
      color: $colorSec1;
    }
    box-shadow: 1px 1px 1px 0px $colorSec3;
  }
  button {
    font-size: 1.25em;
    border: 2px solid;
    padding: 5px 40px;
    text-transform: uppercase;
    border: none;
    background: $colorPrim1;
    color: $colorText1;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 0px $colorSec3;

    &:hover {
      opacity: 0.9;
    }
    &:active {
      background: $colorPrim2;
    }
  }

  @media screen and (max-width: 767px) {
    textarea {
      max-width: 300px;
    }
    h2 {
      font-size: 1.25em;
    }
  }
}

.artigos {
  padding: 30px 0;
  .container {
    justify-content: center;
    li {
      font-size: 1.25em;
      color: $colorText3;
      padding: 5px;
      font-weight: bold;
    }
  }
}

.rodape {
  background: $colorPrim1;
  padding: 30px 0;
  border-radius: 3px;
  div {
    justify-content: center;
    p {
      color: $colorText1;
      font-size: 1.25em;
      text-shadow: 2px 2px 2px $colorPrim2;
    }
  }
  @media screen and (max-width: 767px) {
    div {
      p {
        font-size: 1em;
      }
    }
  }
}
