* {
  font-family: "Lora", serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header {
  background: #035ade;
  padding: 30px 20px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 3px;
}
.header h1 {
  color: #fff;
  font-size: 3em;
  text-shadow: 2px 2px 1px #013d98;
}
.header a {
  display: inline-block;
  color: #fff;
  font-size: 1.25em;
  border: 2px solid;
  padding: 5px 40px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0px #013d98;
  text-shadow: 2px 2px 1px #013d98;
}
.header a:hover {
  opacity: 0.9;
}
.header a:active {
  background: #013d98;
}
@media screen and (max-width: 767px) {
  .header nav {
    margin-top: 20px;
  }
}
.introducao {
  background: #e7eaef;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 30px 0;
}
.introducao p {
  color: #000;
  font-size: 1.5em;
  text-align: center;
  text-shadow: 2px 2px 3px #9b9b9b;
}
.introducao p::before {
  content: "";
  width: 114px;
  background: #000;
  height: 2px;
  display: block;
  margin: 10px auto;
  box-shadow: 2px 2px 1px #9b9b9b;
}
.introducao p::after {
  content: "";
  width: 114px;
  background: #000;
  height: 2px;
  display: block;
  margin: 10px auto;
  box-shadow: 2px 2px 1px #9b9b9b;
}
@media screen and (max-width: 767px) {
  .introducao p {
    font-size: 1.25em;
  }
}
.palavras {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid #e7eaef;
}
.palavras h2 {
  color: #035ade;
  font-size: 1.5em;
  font-weight: bold;
}
.palavras textarea {
  display: block;
  max-width: 546px;
  margin: 20px 0;
  padding: 10px;
  font-size: 1.125em;
  color: #035ade;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px #747f8e;
}
.palavras textarea::placeholder {
  color: #e7eaef;
}
.palavras button {
  font-size: 1.25em;
  border: 2px solid;
  padding: 5px 40px;
  text-transform: uppercase;
  border: none;
  background: #035ade;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 1px 0px #747f8e;
}
.palavras button:hover {
  opacity: 0.9;
}
.palavras button:active {
  background: #013d98;
}
@media screen and (max-width: 767px) {
  .palavras textarea {
    max-width: 300px;
  }
  .palavras h2 {
    font-size: 1.25em;
  }
}
.artigos {
  padding: 30px 0;
}
.artigos .container {
  justify-content: center;
}
.artigos .container li {
  font-size: 1.25em;
  color: #035ade;
  padding: 5px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
.artigos .container li .frequencia {
  color: #747f8e;
  margin-left: 20px;
  font-size: 1.25rem;
}
.rodape {
  background: #035ade;
  padding: 30px 0;
  border-radius: 3px;
}
.rodape div {
  justify-content: center;
}
.rodape div p {
  color: #fff;
  font-size: 1.25em;
  text-shadow: 2px 2px 2px #013d98;
}
@media screen and (max-width: 767px) {
  .rodape div p {
    font-size: 1em;
  }
}
