* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}
/* D9110A */

body{
  background: #FEFEFD;
}

.App{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.container{
  flex: 1;
  margin: 20px;
}
form{
  display: flex;
  flex-wrap: wrap;
}

.palavras { 
  width: 100%;
  padding: 5px 10px;
  border: none;
  background: none;
  border-bottom: solid 2px #AF845F;
  color: #580A04;
  font-weight: bold;
  word-spacing: 10px;
}
.palavras::placeholder{
  color: #AF845F
}
.palavras:focus{
  outline: none;
}
.btn-enviar{
  margin: 20px 0px ;
  padding: 10px 40px;
  align-self: center;
  background: #580A04;
  color: #FEFEFD;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 3px 3px 1px 0px #AF845F;
  border: none;
  cursor: pointer;
}
.btn-enviar:hover{
  opacity: 0.9;
}

.btn-enviar:active{
  box-shadow: 0px 0px 0px 0px #AF845F;
}
.btn-enviar:focus{
  outline: none;
}

h2{
  margin: 20px 0px;
  font-size: 32px;
  color: #580A04;
  font-weight: bold;
}
li{
  text-decoration: none;
  list-style: none;
  color: #580A04;
  font-size: 24px;
  padding: 5px;
}